body {
    background-color: #DAD8D9;
}
.formulario {
    background: #FCF4F8;
    position: relative;
    width: 40%;
    display: block;
    margin: auto;
    border-radius: 3px;
}
.formulario h1 {
    background-color: #F57E20;
    color: #404040;
    width: 100%;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
    -moz-border-radius: 15px 15px 0px 0px;
    -webkit-border-radius: 15px 15px 0px 0px;
 
}
.form {
    background: #E1E3EC;
    position: relative;
    width: 50%;
    display: block;
    margin: auto;
    font-size: 25px;
}
.IniciarSesion {
    padding-bottom: 10px; 
    padding-left: 10px;
    padding-right: 10px;
}
.IniciarSesion input {
    display: inherit;
    margin-bottom: 4%;
    border: none;
    border-radius: 18px;
    background: transparent;
    border: 2px solid #478CA0; 
    outline: none;
}
.IniciarSesion input:focus {
    transition: 0.2s;
    border-bottom: 3px solid #478CA0; 
}
.IniciarSesion label {
  display: inherit;
  text-align: center;
  margin-bottom: 5px;
}
.input {
    border-top: none;
}
#loginButton {
    background-color: transparent;
    display: flex;
    margin: auto;
    border: 2px solid #F57E20;
    border-radius: 10px;
    width: 66px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    font-size: 17px;
    outline: none;
}
#loginButton:hover {
    background-color: #F57E20;
    border: 3px solid #F57E20;
    color: white;
    width: 70px;
    height: 40px;
    text-align: center;
}
#buttonRegister {
    background-color: transparent;
    display: flex;
    margin: auto;
    border: 2px solid #F57E20;
    border-radius: 10px;
    width: 105px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    font-size: 17px;
    outline: none;
}
#buttonRegister:hover {
    background-color: #F57E20;
    border: 3px solid #F57E20;
    color: white;
    width: 120px;
    height: 40px;
    text-align: center;
}
label, h1, button, p, a {
    font-family: 'Noto Sans SC', sans-serif;
    text-align: center;
}
a{
    color: #00A7EE;
}
a:hover{
    color: #021755;
}
